[submodule "vendors/libcurl"]
	path = vendors/libcurl
	url = https://github.com/curl/curl.git
[submodule "vendors/CJSON"]
	path = vendors/CJSON
	url = https://github.com/onlybrad/CJSON
[submodule "vendors/libtidy"]
	path = vendors/libtidy
	url = https://github.com/winlibs/libtidy
